.boton-carrito, .contenedor-boton-carrito, .contedor-enlace-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-carrito {
  background-color: aliceblue;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 5px 5px 0px black;
  font-size: 25px;
}

.boton-carrito:active, .enlace-menu:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.barra {
  font-size: 40px;
  background-color: rgb(188, 18, 222);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navegacion {
  padding-inline: 3%;
}

.contedor-enlace-menu {
  flex-direction: row;
  margin-right: 3vw;
}

.enlace-menu {
  background-color: rgb(3, 149, 3);
  padding: 15px 10px;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 5px 5px 0px black;
  font-size: clamp(18px, 2vw, 25px);
  width: clamp(120px, 17vw, 200px);
  transition: background-color 0.3s ease;
}
.enlace-menu:hover {
  background-color: rgb(2, 120, 2);
}
.marca {
  width: 200px;
  height: auto;
}

.contenedor-boton-carrito {
  height: 8vh;
}

.boton-carrito {
  padding: 15px 30px;
  width: clamp(120px, 17vw, 200px);
  text-align: center;
}
@media (max-width: 768px) {
  .barra {
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    height: 31vh;
  }
  .menu {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-bottom: 3vh;
  }
  .enlace-menu {
    font-size: 20px;
    width: 70%;
    margin-bottom: 10px;
    text-align: center;
  }
  .boton-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 10vw;
    margin-top: 7vw;
    max-width: 80%;
  }
  .contenedor-marca {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 1vh;
  }
}
.formulario-main .boton-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-main .boton-selector {
  background-color: aliceblue;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 5px 5px 0px black;
  font-size: 25px;
}

.formulario-main .boton-selector:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 60ex);
  justify-items: center;
  align-items: center;
}

.catalogo .producto {
  border: 2px solid black;
  border-radius: 5%;
  background-color: rgb(3, 149, 3);
}

.catalogo .producto .imagen {
  width: 40ex;
  height: 40ex;
  border-radius: 5%;
}

.gif {
  display: flex;
  justify-content: right;
  align-items: baseline;
  width: 200px;
  height: auto;
  padding-top: 2%;
}

.titulos {
  font-size: 50px;
  padding: 20px;
}

.texto {
  font-size: 20px;
  padding-left: 7px;
}

.subtitulos {
  font-size: 30px;
  margin: 1%;
}

.formulario-main {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 96vw;
  margin-left: 1vw;
}
.formulario-main .selector {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.formulario-main .selector .categoria {
  font-size: 30px;
}
.formulario-main .selector .valores {
  width: 20vw;
  height: 7vh;
  margin: 0 1vw;
  font-size: 20px;
}
.formulario-main .boton-selector {
  margin: 2vh;
  padding: 5px 10px;
  width: 10vw;
  text-align: center;
  display: inline-block;
}
@media (max-width: 768px) {
  .catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
  }
  .contenedor-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96vw;
    margin-top: 1vh;
  }
  .producto {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 55vh;
    margin: 0;
  }
  .producto .contenedor-imagen {
    width: 100%;
    height: 80%;
  }
  .producto .contenedor-imagen .imagen {
    width: 100%;
    height: 100%;
  }
  .titulos {
    font-size: 35px;
    padding: 1vw 1vh;
  }
  .texto {
    font-size: 25px;
  }
  .categoria {
    font-size: 13px;
  }
  .subtitulos {
    font-size: 27px;
  }
  .formulario-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .formulario-main .selector {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    width: 90vw;
  }
  .formulario-main .selector .selector-categoria {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
  }
  .formulario-main .selector .selector-categoria .categoria {
    font-size: 30px;
  }
  .formulario-main .selector .selector-categoria .valores {
    width: 20vh;
    height: 5vh;
  }
  .formulario-main .contenedor-boton-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3vh 0;
  }
  .formulario-main .contenedor-boton-selector .boton-selector {
    width: 50vw;
    height: 5vh;
    font-size: 20px;
    margin: 0;
  }
}
.catalogo-principal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 60ex);
  justify-items: center;
  align-items: center;
}

.catalogo-principal .producto-principal {
  border: 2px solid black;
  border-radius: 5%;
  background-color: rgb(3, 149, 3);
}

.contenedor-slider {
  width: 100vw;
  overflow: hidden;
  display: flex;
}
.contenedor-slider .slider {
  display: flex;
  gap: 10px;
  padding: 10px;
  width: max-content;
  animation: desplazar 40s linear infinite;
}
.contenedor-slider .slider .producto-slider {
  border: 2px solid black;
  border-radius: 5%;
  background-color: rgb(3, 149, 3);
}
.contenedor-slider .slider .producto-slider .imagen-slider {
  width: 40ex;
  height: 40ex;
  border-radius: 5%;
}
@keyframes desplazar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.catalogo-principal .producto-principal .imagen-principal {
  width: 40ex;
  height: 40ex;
  border-radius: 5%;
}

@media (max-width: 768px) {
  .catalogo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    margin-top: 5vh;
  }
  .producto-principal {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 55vh;
    margin: 0;
  }
  .producto-principal .contenedor-imagen {
    width: 100%;
    height: 80%;
  }
  .producto-principal .contenedor-imagen .imagen-principal {
    width: 100%;
    height: 100%;
  }
  .slider {
    animation: desplazar 35s linear infinite;
  }
}
.boton-formulario {
  background-color: aliceblue;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 5px 5px 0px black;
  font-size: 25px;
}

.boton-formulario:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.informacion-tienda {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.redes-sociales {
  flex: 1;
}

.mapa-tienda {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 7vw;
}

.mapa {
  height: 30vh;
  width: 30vw;
  border: 3px;
  border-radius: 10px;
}

.icono {
  width: 2vw;
  height: 4vh;
  margin: 1vh;
}

.red {
  margin: 3vh 0;
  padding: 10px;
  font-size: 35px;
}

.red:hover {
  background-color: aliceblue;
  border-radius: 6px;
  border: 1px solid black;
  transition: 0.5s;
}

.libro-de-quejas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 7vw;
  font-size: 20px;
}

.libro {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30vw;
  height: 7vh;
}

.boton-formulario {
  padding: 5px 10px;
  margin-right: 3%;
  width: 17vw;
  text-align: center;
  display: inline-block;
  margin-top: 4vh;
}

@media (max-width: 768px) {
  .informacion-tienda {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .redes-sociales {
    flex: 0;
  }
  .icono {
    width: 7vw;
    height: 5vh;
  }
  .mapa-tienda {
    margin-right: 0;
    margin-bottom: 2vh;
    flex-direction: column;
  }
  .mapa {
    width: 95vw;
  }
  .red {
    font-size: 20px;
  }
  .libro-de-quejas {
    margin-top: 1vh;
    flex-direction: column;
  }
  .descripcion {
    font-size: 25px;
  }
  .libro {
    width: 89vw;
  }
  .boton-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 10vw;
    margin-top: 2vh;
  }
}
.compra {
  background-color: aliceblue;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 5px 5px 0px black;
  font-size: 25px;
}

.compra:active {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.carrito {
  width: 95%;
  max-width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 7vh 2vw 0 2vw;
}

.carrito-head {
  background-color: hsl(276, 62%, 34%);
  color: white;
}

.carrito th, .carrito td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  max-width: 100%;
}

.compra {
  padding: 15px 30px;
  margin: 5% auto;
  width: 16vw;
  display: block;
}

.total {
  display: flex;
  justify-content: flex-end;
  margin: 5%;
}

@media (max-width: 768px) {
  .carrito {
    margin-top: 2vh;
    border-radius: 7px;
  }
  .total {
    justify-content: center;
    margin: 3%;
  }
  .compra {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .monto, .texto-button {
    display: flex;
    align-items: center;
  }
  .carrito-body {
    height: auto;
  }
}
footer {
  background-color: darkgreen;
  padding: 10px 30px;
  position: relative;
  margin-top: 10%;
  width: 100%;
  overflow-x: hidden;
}

.copy {
  background-color: aliceblue;
  padding: 30px 10px;
  margin-top: 3vh;
  text-align: center;
}

.logo {
  width: 30px;
  height: auto;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4vh;
  width: 100%;
}

.e-mail {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 30vw;
  height: 7vh;
  max-width: 100%;
}

.otras-redes {
  display: flex;
  justify-content: center;
  margin-left: 12vw;
}

.redes {
  display: flex;
  justify-content: end;
  margin: 0 1vw;
  padding: 15px;
}

.redes:hover {
  background-color: aliceblue;
  border-radius: 6px;
  border: 1px solid black;
  transition: 0.5s;
}

.recibir-oferta {
  white-space: nowrap;
  padding: 1vw 1vh;
  font-size: 30px;
}

@media (max-width: 768px) {
  footer {
    overflow-x: hidden;
  }
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .otras-redes {
    margin-left: 0;
    flex-wrap: wrap;
  }
  .e-mail {
    width: 100%;
    justify-content: center;
  }
  .recibir-oferta {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    padding: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(276, 62%, 34%);
  background-image: radial-gradient(circle at 96% 61%, hsl(312, 65%, 43%) 7%, transparent 54%), radial-gradient(circle at 35% 15%, rgb(142, 35, 148) 7%, transparent 54%), radial-gradient(circle at 58% 11%, hsl(278, 57%, 53%) 7%, transparent 54%), radial-gradient(circle at 26% 61%, hsl(312, 65%, 43%) 7%, transparent 54%);
  background-blend-mode: normal, normal, normal, normal;
}

* {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none !important;
  color: black !important;
}

ul {
  list-style: none;
}

/*# sourceMappingURL=styles.css.map */
