@import "./utilidades/mixin"; 
@import "./utilidades/variables";
@import "./utilidades/extend";

.carrito {
    width: 95%;
    max-width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 7vh 2vw 0 2vw;

}

.carrito-head {
    background-color: $color-fondo;
    color: white;
}

.carrito th, .carrito td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    max-width: 100%;  
}

.compra {
    @extend %boton-basico;
    padding: 15px 30px;
    margin: 5% auto;
    width: 16vw;
    display: block; 
}

.compra:active {
    @extend %sombra-boton;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin: 5%;
}

@media (max-width: 768px) {
    .carrito {
        margin-top: 2vh;
        border-radius: 7px;
    }

    .total {
        justify-content: center;
        margin: 3%;
    }

    .compra {
        width: 70vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .monto, .texto-button {
        display: flex;
        align-items: center;
    }

    .carrito-body {
        height: auto;
    }
}